
!!! ETHERCHANNEL MEMBERS
{% for key, value in etherchannels.iteritems() %}
interface range {{ key }}
{% for key_description, value_description in descriptions.iteritems() %}
{% if key_description == key %}
    description {{ value_description }}
{% endif %}
{% endfor %}
    channel-group {{ value }} mode active
{% for key_parameters, value_parameters in parameters.iteritems() %}
{% if key_parameters == key %}
    {{ value_parameters }}
{% endif %}
{% endfor %}
    no shut

{% endfor %}


!!! ACCESS PORTS
{% for key, value in access_ports.iteritems() %}
interface range {{ key }}
{% for key_description, value_description in descriptions.iteritems() %}
{% if key_description == key %}
    description {{ value_description }}
{% endif %}
{% endfor %}
    switchport mode access
    switchport access vlan {{ value }}
{% for key_voice, value_voice in voice_ports.iteritems() %}
{% if key_voice == key %}
    switchport voice vlan {{ value_voice }}
{% endif %}
{% endfor %}
{% for key_parameters, value_parameters in parameters.iteritems() %}
{% if key_parameters == key %}
    {{ value_parameters }}
{% endif %}
{% endfor %}
{% for key_etherchannel, value_etherchannel in etherchannels.iteritems() %}
{% if key_etherchannel == key %}
    channel-group {{ value_etherchannel }} mode active
{% endif %}
{% endfor %}
    no shut

{% endfor %}


!!! TRUNK PORTS
{% for key, value in trunk_ports.iteritems() %}
interface range {{ key }}
{% for key_description, value_description in descriptions.iteritems() %}
{% if key_description == key %}
    description {{ value_description }}
{% endif %}
{% endfor %}
    switchport mode trunk
    switchport trunk allowed vlan add {{ value }}
{% for key_parameters, value_parameters in parameters.iteritems() %}
{% if key_parameters == key %}
    {{ value_parameters }}
{% endif %}
{% endfor %}
{% for key_etherchannel, value_etherchannel in etherchannels.iteritems() %}
{% if key_etherchannel == key %}
    channel-group {{ value_etherchannel }} mode active
{% endif %}
{% endfor %}
    no shut

{% endfor %}



