
hostname ACCESS-SW2
username testuser secret testpassword
enable secret testenable

ip domain-name test.com
no ip domain-lookup

timezone AEST 10 0

login on-failure log
login on-success log

logging trap notifications
logging source-interface vlan2
logging host 10.255.255.1
logging host 10.255.255.2

snmp-server community teststring RO
snmp-server trap-source vlan2
snmp-server contact bender@planetexpress.com
snmp-server host 10.255.255.1 string2
snmp-server host 10.255.255.2 string2
snmp ifmib ifindex persist

ip default-gateway 10.1.1.1

vlan 10
    name data-10
vlan 30
    name data-30
vlan 20
    name data-20
vlan 40
    name voice

spanning-tree mode rapid-pvst
spanning-tree portfast bpduguard default
spanning-tree vlans 1-4094 pri 32768

!!! ETHERCHANNEL MEMBERS
interface range g1/0/24
    description Port-channel 2 member
    channel-group 2 mode active
    no shut
    
interface range g1/0/23
    description Port-channel 2 member
    channel-group 2 mode active
    no shut
    


!!! ACCESS PORTS
interface range g1/0/12-22
    description User VLAN 30 + Voice
    switchport mode access
    switchport access vlan 30
    switchport voice vlan 40
    spanning-tree portfast
    no shut

interface range g1/0/1-11
    description User VLAN 10 + Voice
    switchport mode access
    switchport access vlan 20
    switchport voice vlan 40
    spanning-tree portfast
    no shut



!!! TRUNK PORTS
interface range Po2
    description Uplink to core
    switchport mode trunk
    switchport trunk allowed vlan add 10,20,30,40
    switchport trunk native vlan 999
    no shut



